<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Frigio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">

</head>
<body>
    <header>
        <div class="logo-img">
            <img src="../static/imagens/logo_pizza_frigio-removebg-preview.png" alt="logo frigio">
        </div>
        <div class="header-menu">
            <a href="../templates/about.html">Sobre Nós</a>
            <a href="">Cardápio</a>
            <a href="">Contato</a>
            <a href="">Pedir</a>
            <a href="">Carrinho</a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="login-card">
                <div class="login-input">
                    <p>E-mail:</p>
                    <input type="email" class="login-email" placeholder="E-mail">
                    <p>Senha:</p>
                    <input type="password" name="password" class="login-password" placeholder="Password">
                </div>
                <div class="login-btn">
                    <button>Login</button>
                </div>
                <div class="create-account">
                    <a class="create-account-btn" href="#" >Criar Conta</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>